*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 16px;
}

body {
	box-sizing: border-box;
  font-family: Arial;
  background-color: rgb(247, 247, 247);
  position: fixed;
  padding-top: 1.25rem;
}

.main-container {
  display: flex;
  overflow: auto;
  height: 100vh;
}

.left-section {
  margin-left: 50px;
  flex: 90rem;
  position: relative;
}

header {
  color:  rgb(0, 0, 0);
  display: flex;
}

.header {
  margin: 0 auto;
  font-weight: 700;
  font-size: 6.25rem;
}

.left-section article {
  margin-top: 50px;
  font-size: 1.5rem;
  font-style: italic;
  font-family: Georgia;
  line-height: 2rem;
}

.left-section article::selection,
.header::selection,
.excuse-type h3::selection {
  background-color: rgb(95, 180, 156);
  color: white;
}

.left-section img {
  position: absolute;
  width: 25rem;
  right: 0;
  top: 21rem;
}

section {
  width: 100vw;
  position: relative;
  display: flex;
}

.right-section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 2.5rem;
  width: 44rem;
  border-radius: 1.25rem;
  text-align: center;
  row-gap: 30px;
  height: 35.6rem;
}

.excuse-type {
  background-color: rgb(234, 224, 123);
  padding: 1%;
  text-wrap: wrap;
  width: 12.5rem;
  padding: 1.25rem 1.4rem;
  border-radius: .9rem;
}

.excuse-type h3 {
  color: rgb(118, 112, 62);
}
.excuse-type__button-container {
  margin-top: .8rem;
  height: 3rem;
}

.excuse-type__button-container button {
  background-color: rgb(95, 180, 156);
  margin-top: 10px;
  color: rgb(255, 255, 255);
  padding: .3rem .6rem;
  cursor: pointer;
  box-shadow: 3px 4px rgba(0,0,0,0.8);
  border: 2px solid black;
}

.excuse-type__button-container button::selection {
  background-color: rgb(118, 112, 62);
}

.excuse-type__button-container button:active {
  margin-top: 15px;
  margin-left: 4px;
  box-shadow: 0px 0px rgba(0,0,0,0.8);
}


@media (min-width: 1520.1px) {
  html {
   font-size: 14px;
  }
 
  .left-section img {
   bottom: -5px;
   flex: 65rem;
  }
 
 }
 
 
@media (min-width: 1300px) and (max-width: 1520px) {
  .left-section {
    flex: 55rem;
  }
}


@media (min-width: 1000.1px) and (max-width: 1300.1px) {
  .left-section {
    flex: 50rem;
  }

  .right-section {
    grid-template-columns: 210px 210px;
  }
}

@media (min-width: 700.1px) and (max-width: 1000px) {
  html {
    font-size: 12px;
  }
  .main-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .left-section img {
    width: 18rem;
    right: 50px;
   }

   article {
    width: 35rem;
   }

   .right-section {
    margin: 0 auto;
   }
}

@media (min-width: 500.1px) and (max-width: 700) {
  html {
    font-size: 10px;
  }
  .main-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .left-section {
    padding-right: 30px;
    height: 25rem;
  }

  article {
    width: 28rem;
  }

  .left-section img {
    width: 12.5rem;
    right: 50px;
   }

   .right-section {
    margin-left: 30px;
   }
}

@media (min-width: 400.1px) and (max-width: 500px) {
  /* iphone 14 pmax*/
  html {
    font-size: 10px;
  }
  .main-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .left-section {
    height: 50rem;
    padding-right:50px;
  }

  .left-section img {
    right: 50px;
   }

   .right-section {
    grid-template-columns: 1fr 1fr;
    margin-left: 30px;
  }

  .excuse-type {
    width: 15rem;
    height: 10rem;
  }

  .excuse-type h3 {
    font-size: 1.5rem;
  }
}

@media (min-width: 300px) and (max-width: 400px) {
  /* iphone pro*/
  html {
    font-size: 10px;
  }
  .main-container {
    display: grid;
    grid-template-columns: 1fr;
  }

  .left-section {
    height: 50rem;
    padding-right:50px;
  }

  .left-section img {
    right: 50px;
   }

   .right-section {
    grid-template-columns: 1fr 1fr;
    margin-left: 20px;
  }

  .excuse-type {
    width: 15rem;
    height: 10rem;
  }

  .excuse-type h3 {
    font-size: 1.5rem;
  }
}